<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h6>Useful</h6>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/our-beer">Our Beer</a></li>
                    <li><a href="/our-story">Our Story</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/news">News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h6>Help</h6>
                <ul>
                    <li><a href="#">Customer service</a></li>
                    <li><a href="/our-beer">Find our beer</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Recent orders</a></li>
                    <li><a href="Contact">Contact</a></li>
                    <li><a href="#">Terms &amp; Privacy</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h6>Shop</h6>
                <ul>
                    <li><a href="/our-beer">Pale ale</a></li>
                    <li><a href="/our-beer">Golden ale</a></li>
                    <li><a href="/our-beer">Dark ale</a></li>
                    <li><a href="/our-beer">IPA</a></li>
                </ul>
            </div>
            <div class="col-sm-5 col-sm-push-1">
                <h6>Our information</h6>
                <p><i class="fa fa-map-marker"></i> 94 River Road, London, United Kingdom</p>
                <p><i class="fa fa-envelope-o"></i> sales@canabrew.com</p>
                <p><i class="fa fa-phone"></i> +1 (925) 477-7143</p>
                <ul class="social">
                    <li><a href="https://www.instagram.com/thesapacademy" target="_blank" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-facebook-square"></a></li>
                    <li><a href="#" class="fa fa-twitter-square"></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p><a href="https://www.instagram.com/thesapacademy" target="_blank">SAP Presales Academy</a></p>
        </div>
    </div>
</footer>